# Byte-compiled / cache files
__pycache__/
*.py[cod]

# VS Code settings
.vscode/

# Environment files
.env
.venv

# OS files
.DS_Store
Thumbs.db

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Test and log files
*.log
*.tmp

# Python egg files
*.egg-info/

dist/
build/
